/*css reset */

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }



    /*Formatação geral */

    html {
        font-size: calc(10px + 1vw);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
        color: #21243d
    }

    html body a{
        text-decoration: none;
        color: black;
    }

     /*Formatação da página */
     header {
        margin: 0px 5vw 0px 5vw ; /*a*/
     }


     header nav ul{
    display:flex; /*leve os itens para a direita*/
    justify-content: right; /*itens uns ao lado do outro*/
}
header nav ul li {
    margin:2vw 10px 2vw 10px;
}
main {
    margin: 0 24vw 0 24vw 
}

header nav ul li.atual a{color: #ff6464;}

/*Formatação works*/


main.works h1 {
    font-weight: normal ;
    margin: 0 0 1vw 0;
    color: #21243d;
}
main.works section {
    border-bottom: 1px solid #e0e0e0;
    padding: 3vw 0 3vw 0;
}
main.works section:last-child {
    border: none;
}

main.works section p {
    margin: 3vw 0 3vw 0;
}
main.works section p span {
color: white ;
background-color: #ff6464;
border-radius: 35px ;
padding: 2px 9px 2px 9px;
font-weight: bold;
}

/*Formatação do banner*/

section.banner{
    display:flex;
    margin: 5vw 0 3vw 0vw;
}
section.banner h1 {
    font-size: 2rem;
}
section.banner p {
margin: 3vw 3vw 3vw 0vw
}

section.banner button {
    color: white;
    background-color: #ff6464;
    border: none ;
    font-size: 1rem;
    padding: 1vw 3vw 1vw 3vw;
}
section.rt-post {
    background: #edf7fa;
    padding: 2vw 1px 2vw 1vw;
}
section.rt-post h2 {
    font-weight: normal;
    margin: 0 0 1.5vw 0 
}
section.rt-post ul {
    display: flex;
}

section.rt-post ul li{
    background: white;
    padding: 1.5vw 10px 15px 10px;
    margin: 0 3vw 0 0;
}
section.rt-post ul li:last-child {
    margin: 0;
}

section.rt-post ul li p {
    margin: 1.5vw 0vw 1.5vw 0vw
}

section.ft-works h2 {
    font-size: 1.2rem;
    font-weight: 100;
    margin: 3vw 0 3vw 0;
}

section.ft-works>div {
    display: flex;
}
section.ft-works div h3 {
    margin: 2vw 3vw 2vw 2vw;
}
section.ft-works div span {
    color: white ;
    background-color: #142850;
    border: none ;
    font-size: 1rem;
    padding: 5px 10px 5px 10px;
    border-radius: 30px;
    font-weight: bolder;
}
section.ft-works div p {
    margin: 15px 20px 15px 20px;
}
section.ft-works div p.pft {
    color: grey;
    padding: 5px 5px 5px 5px;
}
/*Formatação rodapé*/

footer{
    text-align: center;
    padding: 0 0 12vw 0 ;
    margin: 9vw 0 5vw 0
}

footer nav ul {
    display: flex;
    justify-content: center;
}
footer nav ul li {
    margin: 0 50px 0 0;
    font-size: 2rem;
}

footer nav ul li a span {
    color:#21243d;
}
